# 1. Import de librerÃ­as y funciones

In [4]:
import pandas as pd
import json

In [27]:
path="../data.json"
with open(path) as f:
    i = 0
    df = pd.DataFrame()
    for jsonObj in f:
        tweetDict = json.loads(jsonObj)
        new_dict = {
            'date' : tweetDict['date'][0:10],
            'user' : tweetDict['user']['username'],
            'content' : tweetDict['content'],
            'retweets' : tweetDict['retweetCount']
        }
        df = df.append(new_dict,ignore_index = True)
        i += 1
        if (i > 10000):
            break

In [28]:
df.head(5)

,content,date,retweets,user
0,Support ðŸ‘‡\n\n#FarmersProtest,2021-03-30,0.0,ShashiRajbhar6
1,Supporting farmers means supporting our countr...,2021-03-30,0.0,kaursuk06272818
2,Support farmers if you are related to food #St...,2021-03-30,0.0,kaursuk06272818
3,#StopHateAgainstFarmers support #FarmersProtes...,2021-03-30,1.0,SukhdevSingh_
4,"You hate farmers I hate you, \nif you love the...",2021-03-30,0.0,Davidmu66668113

# 2. DefiniciÃ³n de funciones

## 2.1 retweeted_tweets()

In [32]:
def retweeted_tweets(df):
    df1 = df.sort_values('retweets',ascending = False).head(10)
    return df1

In [33]:
print(retweeted_tweets(df))

                                                content        date  retweets  \
3082  #Breaking\n\nðŸ‘‰Zee Owner Subhash Chandra had an...  2021-03-28    1220.0
5270  WARNING: ðŸš¨ Partial Nudity !\n\nBJP MLA from Ab...  2021-03-27     985.0
7335  May God give strength and will power to all th...  2021-03-27     865.0
6087  BJP MLA from Abohar Arun Narang faced heat of ...  2021-03-27     793.0
7916  Modi or his promises cannot be trusted. \n\n#N...  2021-03-27     727.0
7692  I canâ€™t believe we have to say this: farmers a...  2021-03-27     727.0
7538  This man made our country feel shameful in the...  2021-03-27     627.0
6729  #NoVoteTo_LiarModi , Farm Supporters are raidi...  2021-03-27     595.0
8012  While looking at These innocent faces, whose c...  2021-03-27     562.0
3825  #Breaking\n\nðŸ‘‰UP BJP MLA Nand Kishore forced t...  2021-03-28     553.0

                user
3082  saahilmenghani
5270     RaviSinghKA
7335  jasdhaliwal349
6087       amaanbali
7916        NavJammu
7692        NavJammu
7538     Taman_Rupal
6729       Drkhinda2
8012    Its_mannkaur
3825  saahilmenghani

## 2.2 users_by_tweets

In [51]:
def users_by_tweets(df):
    n = 10
    i = 1
    lista =df['user'].value_counts().index.tolist()[:n]
    for usr in lista:
        print(f'{i}: {usr}')
        i += 1

In [52]:
users_by_tweets(df)

1: tasveersandhu
2: rebelpacifist
3: jot__b
4: rumsomal
5: GurmVicky
6: diamondhorse19
7: shells_n_petals
8: Fakeer16771146
9: ASlacktavist
10: Monika09213292

## 2.3 days_by_tweets

In [53]:
def days_by_tweets(df):
    n = 10
    i = 1
    lista =df['date'].value_counts().index.tolist()[:n]
    for dte in lista:
        print(f'{i}: {dte}')
        i += 1

In [54]:
days_by_tweets(df)

1: 2021-03-27
2: 2021-03-28
3: 2021-03-29
4: 2021-03-26
5: 2021-03-30

## 2.4 used_hashtags

In [ ]:
def used_hashtags(df):
    return "No se hizo por cuestiones de tiempo."

## 2.5 main

In [34]:
def main(df):
    c = True
    while c:
        user_input = input()
        if(user_input == "exit"):
            c = False
            print("Terminating program...")
        elif(user_input == "retweets_10"):
            print(retweeted_tweets(df))
        elif(user_input == "users_10"):
            print(users_by_tweets(df))
        elif(user_input == "days_10"):
            print(days_by_tweets(df))
        elif(user_input == "hashtags_10"):
            print(used_hashtags(df))

# Inicio del flujo con main

In [35]:
main(df)

                                                content        date  retweets  \
3082  #Breaking\n\nðŸ‘‰Zee Owner Subhash Chandra had an...  2021-03-28    1220.0
5270  WARNING: ðŸš¨ Partial Nudity !\n\nBJP MLA from Ab...  2021-03-27     985.0
7335  May God give strength and will power to all th...  2021-03-27     865.0
6087  BJP MLA from Abohar Arun Narang faced heat of ...  2021-03-27     793.0
7916  Modi or his promises cannot be trusted. \n\n#N...  2021-03-27     727.0
7692  I canâ€™t believe we have to say this: farmers a...  2021-03-27     727.0
7538  This man made our country feel shameful in the...  2021-03-27     627.0
6729  #NoVoteTo_LiarModi , Farm Supporters are raidi...  2021-03-27     595.0
8012  While looking at These innocent faces, whose c...  2021-03-27     562.0
3825  #Breaking\n\nðŸ‘‰UP BJP MLA Nand Kishore forced t...  2021-03-28     553.0

                user
3082  saahilmenghani
5270     RaviSinghKA
7335  jasdhaliwal349
6087       amaanbali
7916        NavJammu
7692        NavJammu
7538     Taman_Rupal
6729       Drkhinda2
8012    Its_mannkaur
3825  saahilmenghani